<div class="cover-chat-show">
    <div class="container d-flex flex-column align-items-center">
        <div class="row mt-3 mb-3">
            <h1><span class="chat-room-title-user"><%= @user.name %>さん</span>とのトークルーム</h1>
        </div>
        <div class="message" id="messages">
            <% @chats.each do |chat| %>
                <% if chat.user_id == current_user.id %>
                    <%= render 'chat', chat: chat %>
                <% else %>
                    <div class="mb-3 chat-message-other">
                        <span class="chat-bubble chat-bubble-other"><%= chat.message %></span>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div class="chat-form-container">
            <div class="d-flex flex-column align-items-center">
                <div id="chat_error"></div>
                <div class="w-75">
                    <%= render "form", chat: @chat %>
                </div>
            </div>
        </div>
    </div>
</div>