<div class="cover align-middle">
    <div class="text-center">
        <%= image_tag 'logo.png', class:"logo" %><br>
        <%= link_to "備品を探す", items_path, class: "btn btn-primary" %>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success" %>
    </div>
</div>