<div class="cover align-middle">
    <div class="text-center">
        <h1 class="title mb-2">ロゴ</h1>
        <%= link_to "備品を探す", items_path, class: "btn btn-primary mr-2" %>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success ml-2" %>
    </div>
</div>